# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
.coverage
coverage.xml
htmlcov/
.pytest_cache/

# Virtual environments
venv/
env/
ENV/
.venv/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Environment variables
.env
.env.*

# PyInstaller
*.manifest
*.spec

# mypy
.mypy_cache/

# Wheels
*.whl

# Eggs
*.egg
*.egg-info

# Misc
.ropeproject/
.pytest_cache/

config.py